 .update-nag{
    display:none !important;
 }

 .component-item{
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
 }

 .component-item:hover{
    background-color: var(--primary);
    color:#FFF;
 }
 
 .component-item i{
        font-size: 24px;
 }

 button{
   cursor: pointer;
 }

 a.nc-btn{
   text-decoration: none;
   display: flex;
   align-items: center;
 }

 a.nc-btn:hover{
   color: inherit !important ;
 }

 #form-element-korta {
    padding: 20px;
 }
 #form-element-korta ul li{
    list-style: none;
 }

 #form-element-korta ul li:active{
   cursor: n-resize;
 }

 .nc-card-header .bi{
    font-size: 20px;
 }

 .btn-a-icon{
   font-size: 22px;
 }